export APP_PORT=80
export APP_URL=http://localhost
export APP_NAME=Interaktion V2
export APP_ADMIN_PATH=/admin
export APP_LOGO_URL=https://interaktion.x-evolvers.com/logo.975be81faacf8d8bdc2754a626a23a21.png
export APP_FAVICON_URL=https://interaktion.x-evolvers.com/favicon.5bffdf017ade2a1758bfe5f5ef73637a.png
export APP_CURRENCY=USD
export APP_LOCALE=en-US

export PARSE_PATH=/api
export PARSE_APPID=interaktion-admin-tool
export PARSE_MASTER_KEY=5808256a5a3c429d91a7aea9a9e772b4
export PARSE_STORAGE=mongodb+srv://interaktion-v2-user:T9NgyKNjvPhLlZi7@interaktion-db-v2-uowav.azure.mongodb.net/test?retryWrites=true&w=majority
export PARSE_DASHBOARD_PASS=$2y$11$244scD5OA1UfXgB8tNKssuSbD7vF41vqTS4DxctcTN9qKrhv2stkm

export EMAIL_SENDER=postmaster@sandboxe747ab11855949eebcd6fefcb36dc8d1.mailgun.org
export EMAIL_USER=postmaster@sandboxe747ab11855949eebcd6fefcb36dc8d1.mailgun.org
export EMAIL_PASSWORD=b4a278335768b972f61895c75e07cabc-9a235412-a73748ba
export EMAIL_HOST=smtp.mailgun.org
export EMAIL_PORT=587

