.responsive-block(@suffix: ~'') {
  .ma0@{suffix} { margin: 0 };
  .mt-auto@{suffix} { margin-top: auto; }
  .mb-auto@{suffix} { margin-bottom: auto; }
  .ml-auto@{suffix} { margin-left: auto; }
  .mr-auto@{suffix} { margin-right: auto; }
  .flex@{suffix} { display: flex; }
  .flex-none@{suffix} { flex: none; }
  .rm-cover@{suffix} { object-fit: cover; }
  .rm-contain@{suffix} { object-fit: contain; }
  .rm-fill@{suffix} { object-fit: fill; }
  .pe-none@{suffix} { pointer-events: none; }
  .pe-all@{suffix} { pointer-events: all; }
  .outline@{suffix} { outline: unset; }
}

.responsive-block();
.responsive-block(-important) !important;

@media screen and (min-width: 768px) {
  .responsive-block(-ns);
  .responsive-block(-ns-important) !important;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .responsive-block(-m);
  .responsive-block(-m-important) !important;
}
@media screen and (min-width: 1200px) {
  .responsive-block(-l);
  .responsive-block(-l-important) !important;
}

.grow:active { transform: scale(1.05); }
